@import "../../assets/variables";


.login{
  height: 400px;
  width: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  h1 {
    font-family: $primary-font;
    color: rgb(247, 240, 246);
    //background: rgba(119, 152, 192, .3);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    padding: 5px;
    text-align: center;
  }


}
